body * {
  font-family: 'Open Sans', sans-serif;
  /* border: 1px solid red; */
}

header {
  position: relative;
  width: 100%;
  height: 39.8125rem;
  display: block;
  clear: both;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

header hr {
  margin-top: 1rem;
  width: 100%;
}

.object-fit {
  object-fit: cover;
  object-position: center;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 0 auto;
}

.navbar h1 {
  font-size: 2.5rem;
}

.soyyo {
  position: absolute;
  left: 50%;
  -webkit-transform:translatex(-50%);
  transform: translateX(-50%);
  bottom: 1.25rem;
  text-align: center;
}

.soyyo h1 {
  font-size: 4.5rem;
}

.soyyo span {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 4.5rem;
  display: block;
  margin-top: 0.625rem;
}

.bd-principal {
  background-color: #660066;
  margin: 0 auto;
}

.descripcion {
  width: 80%;
}

.descripcion hr, .experiencia hr, .trabajos hr, .contacto hr {
  width: 10%;
}

.descripcion .col-12{
  font-weight: 600;
  font-size: 1.5625rem;
  color: #373A3C;
}

.descripcion .col-6{
  font-weight: 400;
  font-size: 1rem;
  color: #373A3C;
}

.experiencia i {
  color: #660066;
}

.experiencia h2, .contacto h2 {
  font-size: 3.25rem;
  color: #373A3C;
}

.experiencia p {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.5625rem;
  margin-bottom: 0;
  color: #373A3C;
}

.experiencia span {
  font-weight: 300;
  font-size: 1.5625rem;
  color: #373A3C;
}

.trabajos .row {
  width: 90%;
  margin: 0 auto;
}

.trabajos h2 {
  font-size: 3.25rem;
}

.trabajos h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.4375rem;
  color: #373A3C;
}

.trabajos p, .trabajos a {
  font-weight: 300;
  font-size: 1rem;
  color: #373A3C;
}
